.banner {
    display: flex;
    /*height: 100vh;*/
    justify-content: center;
  
    margin-top: 0;
    padding: 210px 0 100px 0;
    /* background-image: url('./assets/img/banner-bg.png');*/
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    position: relative;
  }
  .banner .tagline {
    color: #ccd0cf;
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: transparent;
    border: 1px solid #ccd0cf;
    font-size: 20px;
    margin-bottom: 25px;
    display: inline-block;
    text-align: left !important;
  }
  .banner h1 {
    font-size: 40px;
    font-weight: 700;
    height: 140px;
    overflow: hidden;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 10px;
    display: block;
    color: #ccd0cf;
    text-align: left;
    width: 100%;
  }
  .banner p {
    color: #9ba8ab;
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 100%;
    text-align: left;
  }

  .bolded {
    font-size: 17px;
    color: #ccd0cf;
  } 

  .banner button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    padding: 10px 20px;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
  }
  
  .banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }
  .banner button:hover svg {
    margin-left: 25px;
  }
  .banner img {
    animation: updown 3s linear infinite;
    width: 75%;
  }
  
  .banner-col{
    margin-bottom: 50px;
  }
  
  @keyframes updown {
      0% {
          transform: translateY(-20px);
      }
      50% {
          transform: translateY(20px);
      }
      100% {
          transform: translateY(-20px);
      }
  }
  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }
  